[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djoser = "*"
django-environ = "*"
psycopg2-binary = "*"
django-toggle-m2m = "*"
djangorestframework = "==3.12.0"
pygments = "==2.5.2"
django-on-heroku = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
